@model IEnumerable<Projekt_Szkola.Models.Nauczyciel>

@{
    ViewData["Title"] = "Kontrola godzin";
}

<h1>Kontrola godzin</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.NauczycielID">Sprawdź</a>
                </td>
            </tr>
        }
    </tbody>
</table>
