@model Projekt_Szkola.Models.Zajecia

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>
</br>

<div>
    <h4>Zajecia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.liczbaGodzinDzien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.liczbaGodzinDzien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nauczyciel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nauczyciel.Imie)
            @Html.DisplayFor(model => model.Nauczyciel.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klasa.KlasaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Przedmiot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Przedmiot.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ZajeciaID">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
