@model IEnumerable<Projekt_Szkola.Models.Uprawnienie>

@{
    ViewData["Title"] = "Uprawnienia";
}

<h1>Uprawnienia nauczycieli</h1>

<p>
    <a asp-action="Create">Dodaj uprawnienia</a>
</p>

<form asp-controller="Uprawnienies" asp-action="Index">
    <p>
        Nazwa uprawnienia: <input type="text" name="SearchString">
        <input type="submit" value="Szukaj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Uprawnienie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nauczyciel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UprawnienieNazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nauczyciel.Imie)
                @Html.DisplayFor(modelItem => item.Nauczyciel.Nazwisko)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UprawnienieID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.UprawnienieID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.UprawnienieID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
